/* Add your existing CSS styles here */
.bgimage{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}
.tab-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.tabs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
   
    width: 1000px;
    height: 60px;
    
    border-radius: 2px;
    background: #F2F2F2;

}
h1{
    text-align: center;
    font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-transform: uppercase;
    
}
.tab{
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    background: #F2F2F2;
    color: #000000;
    border-radius: 5px;
    width: 300px;
    height: 30px;
    font-family: 'Inter';
font-size: 18px;
font-style: normal;
font-weight: 600;
/* line-height: normal; */
}


.tab:hover {
    background-color: #000000;
    color: white;
    height: 60px;
}
.tab:active{
    background-color: #a73e3e;
}

.category {
    display: none;
}


/* =============== */
.container4{
    display: flex;
    flex-direction: row;
align-items: flex-start;
justify-content: center;
/* height: 00px; */
/* flex-wrap: wrap; */



}
.lists{
    /* border: 2px solid rebeccapurple; */
    height: 550px;
    
    
}
.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;

  }
  
  .image-gallery > li {
    
    /* flex-basis: 350px;  */
    position: relative;
    cursor: pointer;
    list-style: none;
    
    /* border: 1px solid gray; */

  }
  
  .image-gallery li img {
    object-fit: cover;
    /* max-width: 80%;
    height: 300px; */
    /* vertical-align: middle; */
    border-radius: 5px;
    
  }
 .line{
    display: flex;
    text-align:left;
    gap: 140px;
    align-items: center;
    flex-direction: row;
    
  
    
 }
  .mens-kurta{
    /* text-align:left ; */
    color: #000;
font-family: Khula;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;

  }
  .manyvar{
    
    width: 24px;
/* height: 7px; */
color: #000;

font-family: "Khula";
font-size: 12px;

font-weight: 400;

  }
/* ===================== */

  .line2 {
    text-align: left;
    display: flex;
    align-items: start;
    flex-direction: row;
    
    gap: 90px;
    flex: 1;
    
    /* margin-left: -20px; */
 }
 .rs-119900{
    text-align: left;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: start; */
    width: 30px;
height: 6px;
color: #000;

font-family: Khula;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
 }
.rs-1299{
    width: 21px;
    height: 6px;
    flex-shrink: 0;
    color: #8F8F8F;
    text-decoration: line-through;
    font-family: Khula;
    font-size: 14px;
    font-style: line-throu;
    font-weight: 600;
    line-height: normal;
}
.off{
    width: 23px;
height: 6px;
color: #FF3737;

font-family: Khula;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
button{
    margin-top:40px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    color: white;
    background-color: #000;
    width: 280px;
height: 40px;
flex-shrink: 0;
border-radius: 2px;

}

/* =================== */

        
@media (max-width: 767px) {
    /* Adjust styles for mobile screens */
    .tab-container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .tabs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 20px;
       
        width: 1000px;
        height: 60px;
        
        border-radius: 2px;
        background: #F2F2F2;
    
    }
    h1{
        text-align: center;
        font-family: 'Inter';
    font-size: 20px;
    
        
    }
    .tab{
        padding: 10px 20px;
        margin: 0 10px;
        cursor: pointer;
        border: none;
        background: #F2F2F2;
        color: #000000;
        border-radius: 5px;
        width: 100px;
        height: 30px;
        font-family: 'Inter';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    /* line-height: normal; */
    }

}